doctype html
html(class=theme)
  head
    title User List
    link(rel="stylesheet", href="/css/style.css")
    link(rel="icon", href="/favicon.ico")
  body
    nav
      if user
        span Welcome, #{user.name}
        a(href="/logout") Logout
      else
        a(href="/login") Login
    div.theme-selector
      button(onclick="changeTheme('light')") Light Theme
      button(onclick="changeTheme('dark')") Dark Theme
    h1 Users List
    table
      thead
        tr
          th ID
          th Name
          th Email
          th Actions
      tbody
        each user in users
          tr
            td= user.id
            td= user.name
            td= user.email
            td
              a(href=`/users/${user.id}`) View Details
    script(src="/js/theme.js")